.header{
    background-color: blue;
    height: 70px;
}
.wrapper{
    max-width: 1000px;
    margin:0  auto;
}
.container{
    background-color: yellow;
    overflow: hidden;
}
.menu{
    background-color: aqua;
    width: 20%;
    float:left;
    text-align: center;
    height: 40px;
}

.content{
    background-color: teal;
    width: 80%;
    float:left;
    text-align: center;
}
.footer{
    clear:both;
    background-color: tomato;
    height: 30px;
}