.header{
    background-color: blue;
    height: 70px;
}
.wrapper{
    max-width: 1000px;
    margin:0  auto;
}
.container{
    background-color: yellow;
    display:flex;
    height: 60px;
    align-items: center;
    flex-direction: row-reverse;
}
.menu{
    background-color: aqua;
    width: 20%;
    text-align: center;

}

.content{
    background-color: teal;
    width: 80%;
    text-align: center;
}
.footer{
    background-color: tomato;
    height: 30px;
}