.header{
    background-color: blue;
    height: 70px;
    grid-area:header;
}
.wrapper{
    max-width: 1000px;
    margin:0  auto;
    display:grid;
    grid-template-areas: 
        'header header header header'
        'menu content content contento'
        'footer footer footer footer'  ;
}

.menu{
    background-color: aqua;
    grid-area:menu;
}

.content{
    background-color: teal;
    grid-area: content;

}
.footer{
    background-color: tomato;
    grid-area: footer;
}